# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/

# Visual Studio cache/options directory
.vs/

# Dependencies
node_modules/

# Compiled output
wwwroot/

# Publish profiles
PublishProfiles/