@import "../common/styles/variables";
@import "../common/styles/border";

.content {
    @media (max-width: map-get($grid-breakpoints, md) - 1) {
        height: 100%;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        margin-top: 150px;
    }

    height: 300px;
    padding: 0.5rem 0;
    background-color: $dark;

    > div {
        height: 100%;
        position: relative;
        background-color: $white;

        @include border-image(16, 0, 16, 0);

        > p {
            font-weight: bold;
            text-align: center;

            &:first-of-type {
                padding-top: 1rem;
                font-size: 2rem;
            }

            &:last-of-type {
                font-size: 1.5rem;
            }
        }

        > div {
            bottom: 0;
            position: absolute;

            width: 100%;
            padding-bottom: 1rem;

            button {
                width: 100px;
            }
        }
    }
}