<div class="row align-items-stretch">
    <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <div class="content">
            <div>
                <p>WELCOME TO</p>
                <p>4D Dashboard</p>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-dark btn-sm" routerLink="/run">
                        Run
                    </button>
                    <button class="btn btn-dark btn-sm" routerLink="/dev">
                        Build
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>