<div class="line row no-gutters d-sm-none d-md-flex">
    <div class="col-12 col-sm-6 d-none d-md-block">
        <div class="cell-container" data-position="2">
            <cell data-position="2"></cell>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="cell-container" data-position="3">
            <cell data-position="3"></cell>
        </div>
        <div class="panel panel-right d-sm-none">
            <ng-container
                *ngTemplateOutlet="panel_buttons"></ng-container>
        </div>
    </div>
</div>
<div class="line row no-gutters">
    <div class="col-12 col-sm-6 d-none d-sm-block">
        <div class="cell-container" data-position="1">
            <cell data-position="1"></cell>
        </div>
        <div class="panel panel-left d-md-none">
            <ng-container
                *ngTemplateOutlet="panel_buttons"></ng-container>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="cell-container" data-position="0">
            <cell data-position="0"></cell>
        </div>
    </div>
</div>

<ng-template #panel_buttons>
    <button *ngIf="fullScreen.isOn(); else elseBlock"
            class="btn btn-outline-dark"
            (click)="fullScreen.off()">
        <fa-icon [icon]="iconOff" size="sm"></fa-icon>
    </button>
    <ng-template #elseBlock>
        <button class="btn btn-outline-dark"
                (click)="fullScreen.on()">
            <fa-icon [icon]="iconOn" size="sm"></fa-icon>
        </button>
    </ng-template>
    <button *ngFor="let button of buttons.toArray()"
            class="btn btn-outline-dark"
            (click)="buttonService.click(button.id)"
            [disabled]="button.isDisabled">
        {{button.id}}
    </button>
</ng-template>