@import "../common/variables";
$border: 0.25rem dashed $dark;

.cell-container {
    height: 100%;
    overflow-y: auto;
    direction: rtl;

    &[data-position="1"] {
        border-right: $border;
        direction: ltr;

        > cell {
            @media (min-width: map-get($grid-breakpoints, sm))
               and (max-width: map-get($grid-breakpoints, md) - 1) {
                padding-left: 2rem;
            }
        }
    }

    &[data-position="2"] {
        border: {
            right:  $border;
            bottom: $border;
        }

        direction: ltr;
    }

    &[data-position="3"] {
        border-bottom: $border;

        > cell {
            @media (max-width: map-get($grid-breakpoints, sm) - 1) {
                padding-right: 2rem;
            }
        }
    }

    > cell {
        display: block;
        padding: 0.5rem;
        text-align: center;
    }
}