@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~quill/dist/quill.snow";

html, body, .container {
    height: 100%;
}

body {
    font-family: monospace;
}

@media (max-width: map-get($grid-breakpoints, sm) - 1) {
    .container {padding: 0;}
}

@media (max-width: map-get($grid-breakpoints, md) - 1) {
    .container {padding: 0;}
}

.btn-dark {
    &:hover  {color: $success !important;}
    &:active {color: $success !important;}
}