@import "variables";
@import "~bootstrap/scss/bootstrap";

html, body, .container {
    height: 100%;
}

body {
    font-family: monospace;
}

@media (max-width: map-get($grid-breakpoints, sm) - 1) {
    .container {padding: 0;}
}

@media (max-width: map-get($grid-breakpoints, md) - 1) {
    .container {padding: 0;}
}

.btn-dark {
    &:hover  {color: $success !important;}
    &:active {color: $success !important;}
}

@mixin define-custom-property($name, $value) {
    #{custom-property-name($name)}: $value;
}

@function custom-property-name($name) {
    @return "--" + $name;
}

:root {
    @each $name, $value in $grid-breakpoints {
        @include define-custom-property($name, $value);
    }
}