@import "../../config/variables";

$border: 4px dashed $dark;

:host {
    display: block;
    height: 100%;

    > div {
        height: 100%;

        &.cell1 {
            border-right: $border;
        }

        &.cell2 {
            border-right:  $border;
            border-bottom: $border;
        }

        &.cell3 {
            border-bottom: $border;
        }

        > p {
            text-align: center;
            font-size: 2rem;
        }
    }
}